<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - EduViaje</title>
    <link rel="icon" href="Library/Logo%20y%20icon/Sin-título-4-_1_.ico" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(45deg, #2472cd, #69acf4, #0745a4, #91649d, #bda8cb);
            background-size: 400% 400%;
            animation: gradientAnimation 15s ease infinite;
        }
        @keyframes gradientAnimation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
    </style>
</head>
{% block content %}
<body class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-lg">
                    <div class="row no-gutters">
                        <div class="col p-4">
                            <h2 class="text-center mb-4">Bienvenido a EduViaje</h2>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="name" id="name"  placeholder="Nombre de usuario" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" placeholder="contraseña" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" placeholder="Repetir Contraseña" class="form-control" required>
                                </div>
                                  <div class="form-group">
                                    <input type="number" name="numCuenta" id="numCuenta" placeholder="Numero de Cuneta" class="form-control" required>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                            <div class="mt-6 text-center">
                                <p class="text-sm">Ya tienes cuenta en EduViaje? <a href="#" class="font-medium text-black hover:text-gray-700">Iniciar Sesion</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</html>
